<!--==========================
  Footer
============================-->
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; Copyright <strong>Blazing energy</strong>. All Rights Reserved
            </div>

          </div>
        </div>
      </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <!-- JQUERY DataTables-->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js"></script>
    <!-- Button DataTables-->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <!-- JZIP -->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/jszip.min.js"></script>
    <!-- PDF MAKE -->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/pdfmake.min.js"></script>
    <!-- VFS FONT -->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/vfs_fonts.js"></script>
    <!-- BUTTON HTML5 -->
    <script type="text/javascript" src="/js/bootstrap-waitingfor.min.js"></script>
    <!-- WAITING DIALOG -->
    <script type="text/javascript" src="vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.min.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <!--  JSCal2-1.7-->
    <script type="text/javascript" src="/vendor/JSCal2-1.7/js/jscal2.js"></script>
    <script type="text/javascript" src="/vendor/JSCal2-1.7/js/lang/b5.js"></script>


  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>-->
    <% if(title ==='Account'){ %>
      <script src="my_js/account.js"></script>
    <% } else if(title ==='Board'){ %>
      <script src="my_js/board.js"></script>
    <% } else if(title ==='Board-Manager'){%>
      <script src="my_js/board-manager.js"></script>
    <% } %>

</body>
</html>